<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeName</key>
				<string></string>
				<key>CFBundleTypeRole</key>
				<string>QLGenerator</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>dyn.ah62d4rv4ge81q4pr</string>
					<string>public.source-code</string>
					<string>public.ruby-script</string>
					<string>public.yaml</string>
					<string>public.php-script</string>
					<string>com.netscape.javascript-source</string>
					<string>com.microsoft.c-sharp</string>
					<string>com.microsoft.f-sharp</string>
					<string>public.css</string>
					<string>com.apple.applescript.script</string>
					<string>public.xml</string>
					<string>com.apple.property-list</string>
					<string>org.tug.tex</string>
					<string>com.sun.java-class</string>
					<string>com.sun.java-source</string>
					<string>org.vim.vim-script</string>
					<string>org.tug.lua</string>
					<string>public.tex</string>
					<string>public.text</string>
					<string>public.shell-script</string>
					<string>public.c-header</string>
					<string>public.objective-c-source</string>
					<string>public.c-source</string>
					<string>public.c-plus-plus-source</string>
					<string>public.c-plus-plus-header</string>
					<string>public.objective-c-plus-plus-source</string>
					<string>public.assembly-source</string>
					<string>com.apple.rez-source</string>
					<string>public.mig-source</string>
					<string>public.swift-source</string>
					<string>public.pascal-source</string>
					<string>com.apple.symbol-export</string>
					<string>public.csh-script</string>
					<string>public.zsh-script</string>
					<string>com.apple.terminal.shell-script</string>
					<string>com.apple.terminal.session</string>
					<string>com.apple.terminal.settings</string>
					<string>public.python-script</string>
					<string>com.apple.xcode.strings-text</string>
					<string>dyn.ah62d4rv4ge81g6pq</string>
					<string>dyn.ah62d4rv4ge8007a</string>
					<string>dyn.ah62d4rv4ge80s6xbqv0gn</string>
					<string>dyn.ah62d4rv4ge81g25brvuu</string>
					<string>dyn.ah62d4rv4ge80g62</string>
					<string>dyn.ah62d4rv4ge80w5pq</string>
					<string>dyn.ah62d4rv4ge80s52</string>
					<string>dyn.ah62d4rv4ge80g2pcqf0a</string>
					<string>dyn.ah62d4rv4ge81e62</string>
					<string>dyn.ah62d4rv4ge80u62</string>
					<string>dyn.ah62d4rv4ge80g6u</string>
					<string>dyn.ah62d4rv4ge80g3xh</string>
					<string>dyn.ah62d4rv4ge81q7pf</string>
					<string>dyn.ah62d4rv4ge81a6xtsbw1e7dmqz3u</string>
					<string>dyn.ah62d4rv4ge80e2p4qz0a</string>
					<string>dyn.ah62d4rv4ge80e8xq</string>
					<string>dyn.ah62d4rv4ge81u65e</string>
					<string>dyn.ah62d4rv4ge81u6pzqz3hw</string>
					<string>org.vim.xsl-file</string>
					<string>dyn.ah62d4rv4ge81u7k</string>
					<string>dyn.ah62d4rv4ge81u6pr</string>
					<string>dyn.ah62d4rv4ge81u6k</string>
					<string>dyn.ah62d4rv4ge8007dx</string>
					<string>dyn.ah62d4rv4ge80e2py</string>
					<string>dyn.ah62d4rv4ge80q4pxra</string>
					<string>dyn.ah62d4rv4ge81u65k</string>
					<string>dyn.ah62d4rv4ge81a8pd</string>
					<string>dyn.ah62d4rv4ge81e65y</string>
					<string>dyn.ah62d4rv4ge80n5a</string>
					<string>dyn.ah62d4rv4ge80w5u</string>
					<string>dyn.ah62d4rv4ge81k</string>
					<string>dyn.ah62d4rv4ge80c5k</string>
					<string>dyn.ah62d4rv4ge80c3dtqq</string>
					<string>public.perl-script</string>
					<string>dyn.ah62d4rv4ge80e2pysq</string>
					<string>public.patch-file</string>
					<string>public.bash-script</string>
					<string>com.apple.xcode.bash-script</string>
					<string>com.apple.xcode.csh-script</string>
					<string>com.apple.xcode.ksh-script</string>
					<string>com.apple.xcode.tcsh-script</string>
					<string>com.apple.xcode.yacc-source</string>
					<string>com.apple.xcode.zsh-script</string>
					<string>dyn.ah62d4rv4ge81a63v</string>
					<string>dyn.ah62d4rv4ge81k3x0qf3hg</string>
					<string>dyn.ah62d4rv4ge81k3u</string>
					<string>dyn.ah62d4rv4ge81u65q</string>
					<string>dyn.ah62d4rv4ge80w5xm</string>
					<string>dyn.ah62d4rv4ge8023pxsq</string>
					<string>dyn.ah62d4rv4ge80g55sq2</string>
				</array>
			</dict>
		</array>
		<key>CFBundleExecutable</key>
		<string>${EXECUTABLE_NAME}</string>
		<key>CFBundleIconFile</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>${PRODUCT_NAME}</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>CFPlugInDynamicRegisterFunction</key>
		<string></string>
		<key>CFPlugInDynamicRegistration</key>
		<string>NO</string>
		<key>CFPlugInFactories</key>
		<dict>
			<key>C044543D-70A1-46D8-A908-4B8AEA1197A4</key>
			<string>QuickLookGeneratorPluginFactory</string>
		</dict>
		<key>CFPlugInTypes</key>
		<dict>
			<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
			<array>
				<string>C044543D-70A1-46D8-A908-4B8AEA1197A4</string>
			</array>
		</dict>
		<key>CFPlugInUnloadFunction</key>
		<string></string>
		<key>QLNeedsToBeRunInMainThread</key>
		<true />
		<key>QLPreviewHeight</key>
		<real>800</real>
		<key>QLPreviewWidth</key>
		<real>800</real>
		<key>QLSupportsConcurrentRequests</key>
		<true />
		<key>QLThumbnailMinimumSize</key>
		<real>17</real>
	</dict>
</plist>
